.menu {
  background-color: black;
  display: flex;
  padding: 5px;
  position: relative;

}

.menu img{
  margin: 2%;
}

#container-item{
  margin: 2%;
  width: 600px;
  }

.menu-item{
  margin: 2%;
  color: red;
  font-size: 15px;
}


@media screen and (max-width:600px){
  #container-item{
    position: fixed;
    left: 0;
    bottom:0;
    background-color: black;
    right: 0;
  }


}
