
.container{
  width: 50%;
  text-align: center;
}
.imgPoster{
  text-align: center;
  padding: 20px;
}

.imgPoster img{
  width:600px;
  height: 400px;
}

#page {
  min-height: 100%;
  position: relative;
}

#page h2{
  text-align: center;
}

.container-fake{
  text-align: left;
  padding-left: 10px;
}
